################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/homebridge-wiser-ben/config/applicationhost.config
